PORT=5000
MONGO_URI=mongodb://localhost:27017/teamflow
JWT_ACCESS_SECRET=teamflow_jwt_access_secret_token_1293847192348_super_secure_key
JWT_REFRESH_SECRET=teamflow_jwt_refresh_secret_token_9832749823749_super_secure_key
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
